.grid {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-gap: 1em;
  }
  header,
  aside,
  section,
  footer {

    background: #eaeaea;
    padding: 1em;
  }
  
  header, footer {
    grid-column: 1 / 4;
    position: sticky;
    background-color: #6e8783
  }

  nav ul {
    list-style: none;
}

.nav-item {
    margin: 15px 5px;
    padding-right: 2rem;
    display: inline-block;
}

a {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #EDDDD0;

}

a:hover {
    color: #334259;
}

.left-list {
    background-color: #334259;
    color: #EDDDD0;
    height: 100%;
}

section {
    background-color:  #eaeaea ;
    height: 100%;
    width: 100%;
    float:left;
}
  

footer {  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  color: #EDDDD0;
}
  
  